---
import { Icon } from 'astro-icon/components';
import {
	AnnouncementBar,
	Button,
	ImageSection,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
	StickyTextImageSection,
	CtaCardSection,
} from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'LLaveros | Valex Tejidos',
	description: 'Landing Page #1 | Astro Odyssey Theme',
};
---

<Layout {seo}>
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Llaveros</h1>
			<p>Hechos de peque침as figuritas personalizadas 游눘.</p>
		</div>

		<picture slot="image-container">
			<img
				src="/assets/images/landing-1/pulpo.jpg"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="쮹uscas un regalo original y especial? Sorprende a tus seres queridos con un llavero tejido a mano. Son el detalle perfecto para cualquier ocasi칩n: cumplea침os, Navidad, D칤a de la Madre, o simplemente para demostrarle a alguien que lo aprecias."
		customerName="춰Dale un toque 칰nico a tus llaves con llaveros tejidos a mano!"
	/>

	<StickyTextImageSection>
		<div slot="text-container">
			<h2>춰Dale un toque 칰nico a tus llaves con llaveros tejidos a mano!</h2>
			<h3>Nuestros llaveros est치n hechos con:</h3>
			<p>
				- Hilo de alta calidad que no se deshilacha ni se decolora. <br>
				- Dise침os 칰nicos y coloridos que alegrar치n tu d칤a. <br>
				- Mucho amor y dedicaci칩n.
			</p>
			<h3>Adem치s, puedes personalizar tu llavero:</h3>
			<p>
				- Elige tu color favorito. <br>
				- Pide un dise침o especial con tu nombre, iniciales o una frase significativa. <br>
				- A침ade un dije o accesorio para hacerlo a칰n m치s 칰nico. <br>
			</p>
			<h3>Los llaveros tejidos a mano son:</h3>
			<p>
				- Duraderos: Soportan el uso diario sin problemas. <br>
				- Vers치tiles: Puedes usarlos para tus llaves, bolso o incluso como adorno para el coche. <br>
				- Unicos: Cada llavero es una pieza 칰nica hecha con amor.
			</p>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/landing-1/mandragora.jpg"
				alt=""
				loading="lazy"
			/>
		</picture>
	</StickyTextImageSection>
	<ImageSection>
		<picture slot="image-container1">
			<img
				src="/assets/images/landing-1/fresa.jpg"
				alt=""
				loading="lazy"
			/>
		</picture>
		<picture slot="image-container2">
			<img
				src="/assets/images/landing-1/gatos.jpg"
				alt=""
				loading="lazy"
			/>
		</picture>
	</ImageSection>
	
</Layout>
